* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#root {

    display: flex;
    align-items: center;
    justify-content: center;
    @import './header/header.scss';
    @import './main/main.scss';
}